html{
	font-size: 14px;
}

body{
	color: #5c5c5c;
	font-family: sans-serif;
}

body > header{
	height: 85px;
	background: #a51984;
}

#logo{
	background: url('../img/bkgr_logo.png') no-repeat center center;
	display: inline-block;
	height: 85px;
	vertical-align: middle;
	width: 200px;
}

#logout{
	border-radius: 7px;
	display: inline-block;
	float: right;
	margin: 15px;
	text-decoration: none;
	vertical-align: middle;
}

#logout:hover{
	background: #BC309B;
}

#logout bdi{
	color: #fff;
	font-size: 1rem;
	margin: 1em;
}

#logout img{
	border-radius: 7px;
}

.btn-save-expense
{
	margin-top: 1.75em;
}

.form-expense
{
	margin-bottom: 1em;
}

.reg-expense
{
	padding: 1em;
}