html{
	font-size: 14px;
}

body{
	color: #5c5c5c;
	font-family: sans-serif;
}

body > header{
	height: 85px;
	background: #a51984;
}

nav ul{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0;
}

main{
	margin-top: 85px;
	margin-left: 200px;
	padding: 15px 20px;
	overflow: auto;
}

main.submenu{
	margin-top: 117px;
}

#logo{
	width: 200px;
	height: 85px;
	display: inline-block;
	vertical-align: middle;
	background: url('../img/bkgr_logo.png') no-repeat center center;
}

#logout{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 7px;
	margin: 15px;
	float: right;
}

#logout:hover{
	background: #BC309B;
}

#logout bdi{
	margin: 1em;
	font-size: 1rem;
	color: #fff;
}

#logout img{
	border-radius: 7px;
}

#menu-nav{
	background: #ddd;
	width: 200px;
	margin-top: 85px;
	padding-top: 4px;
	border-right: 2px solid;
	text-align: center;
}

#menu-nav li{
	font-size: 1rem;
	display: inline-block;
	width: 180px;
	background: #fff;
	background: linear-gradient(#fff, #ccc);
	border: 1px solid #ccc;
	text-align: center;
	height: 40px;
	margin-top: 4px;
	margin-bottom: 4px;
	line-height: 2.8em;
	border-radius: 5px;
}

#menu-nav li:hover{
	background: #ccc;
}

#menu-nav li.active{
	border: 1px solid #a51984;
	background: #a51984;
	background: linear-gradient(#a51984, rgba(165, 25, 132, 0.5));
}

#menu-nav li a{
	display:block;
	color: #5E2256;
	font-weight: bold;
	letter-spacing: .5px;
	text-decoration: none;
}

#menu-nav li.active a{
	color: #fff;
}

#submenu-nav{
	height: 32px;
	background: #ececec;
	border-bottom: 2px solid;
	padding-left: 200px;
	font-size: 0;
}

#submenu-nav li{
	font-size: 11pt;
	display: inline-block;
	background: #c5c5c5;
	height: 30px;
	width: 200px;
	border-right: 2px solid;
}

#submenu-nav li:hover{
	background: #f5f5f5;
}

#submenu-nav li.active{
	background: #f5f5f5;
}

#submenu-nav li a{
	display: block;
	line-height: 2em;
	padding-left: 1em;
	text-decoration: none;
	color: black;
}

#submenu-nav li a > span{
	position: absolute;
	right: 10px;
	width: 90%;
	text-align: right;
}

#slc-p300
{
	margin-left: 1rem;
}

#submenu-nav .dropdown-menu{
	border-radius: 0px;
	top: auto;
	border-bottom: 2px solid;
	width: 204px;
	margin-left: -3px;
	padding: 0;
}

#submenu-nav .dropdown-menu li{
	width: 100%;
	border-left: 2px solid;
}

#submenu-nav .dropdown-menu a{
	line-height: 1.8em;
}

.page{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#table-report {
	width: 100%;
	font-size: 0;
	position: relative;
}

#table-report header div{
	margin-left: 220px;
	overflow: hidden;
}

#table-report #data{
	margin-left: 220px;
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	overflow: scroll;
}

#table-report > header tr{
	background-color:#FF9;
	height: 43px;
}

#table-report > div tr{
	height: 30px;
}

#table-report > header{
	position: absolute;
	top: 0;
	left: 0;
	right: 17px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#table-report > div{
	position: absolute;
	top: 74px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#table-report #products{
	position: absolute;
	top: 0;
	bottom: 16px;
	left: 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

#table-report > header > table{
	position: absolute;
	top: 0;
	left: 0;
}

.alert{
	font-size: 2rem;
	color: red;
	display: initial;
}



.table-gastos
{
	margin: 1em 3em;
	width: 380px;
}

.table-gastos thead
{
	border-bottom: 2px solid #ddd;
}

.table-gastos tr
{
	text-indent: 7px;
	border-bottom: 1px solid #ddd;
}

.table-gastos tbody tr td:nth-child(2)
{
	text-indent: 3em;
}

.disabled-file
{
	min-width: 230px;
	height: 33px;
	border-radius: 2px;
	margin-top: 10px;
	width: 100%;
}

td { vertical-align: middle !important; }

/* Hasta aqui se reviso */
.container{
	width: 100%;
	font-size: 0;
}

.has-info .form-control-feedback{
	color: #357ebd;
}
th{
	text-align:center;
	vertical-align:middle;
}


#btn-add{
	margin-left: 1.1em;	
}

#content-report{
	font-size: 16px;
	margin:auto;
}

#content-inputs{
	margin: auto;
	overflow: hidden;
}

#content-report{
	margin-top: -1em;
}

#messageErrorBox{
	height:500px !important;
}

.container-fluid
{
	font-size: 16px;
}

.dbf-icon {
	background: url('../img/dbf-icon.png') top left no-repeat;
	display: inline-block;
	padding-left: 25px;
}

.defaultText{
	text-align: center;
}

.divScroll
{
overflow-x: scroll;
overflow-y: scroll;
}

.footer{
	display: inline-block;
	color: white;
}

.form-sigin{
	width: 30%;
	display: inline-block;
	text-align: left;
}

.form-label{
	line-height: 2.5;
	padding-left: 40px;
}	

.form-step{
	line-height: 2.5;
	padding-left: 20px;
	font-size: 1.3rem;
}


.hidden{
	visibility:hidden;
}

.logo{
	margin: 0;
}

.menu_test
{
	border-right: 2px solid #a51984;
}

.menu_test nav ul li
{
	background: #c5c5c5;
	border-bottom: 2px solid rgba(33, 51, 56, 0.82);
	line-height: 2em;
}

.menu_test nav ul li a
{
	color: black;
	padding: .5em;
}

.menu_test, .principal
{
	background: #ececec;
	font-size: 16px;
	display: inline-block;
	min-height: 573px;
	vertical-align: top;
	width: 13%;
}
.config
{
	margin: 0 auto;
}
.principal
{	
	background: white;
	width: 87%;
	margin: 0;
	padding: 0;	
}

.option-des-1, .option-des
{
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 9pt;
	height: 34px;
	padding: 6px 12px;
	min-width: 270px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-fixed-bottom{
	background: black;
	height: 40px;
	text-align:center;
	line-height: 2.8;
}

.results{
	margin: 0 20px;
	font-size: 0.9rem;
}

.results fieldset{
	margin: 10px;
	padding: 10px;
	width: 170px;
	float: right;
	vertical-align: top;
}

.results .threads{
	margin-right: 190px;
}

.results .threads > div{
	margin: 5px;
	overflow: hidden;
	width: 47.5%;
	display: inline-block;
	vertical-align: top;
}

.results .threads button{
	text-align: left;
	font-weight: bold;
}

.results .threads > div span{
	font-size: 0.9rem;
}

.results .threads .glyphicon{
	top: 0;
	right: 10px;
	display: none;
}

.err_detail{
	display: none;
	white-space: normal;
	font-weight: normal;
}

.ladda-label
{
	font-size: .9rem;
}

.legend-skip{
	border: 1px solid black;
	background: #ddd;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.legend-success{
	border: 1px solid black;
	background: #5cb85c;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.legend-info{
	border: 1px solid black;
	background: #39b3d7;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.legend-warning{
	border: 1px solid black;
	background: #f0ad4e;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.legend-error{
	border: 1px solid black;
	background: #d9534f;
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.padding-top7p{
	padding-top: 7px;	
}

.porcentaje
{
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #555;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857143;
	margin-left: 3px;
	padding: 6px 12px;
	text-align: center;
	min-width: 50px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.lbl-por-err
{
	position: relative;
	padding: 4px 16px;
}

.btn-delete
{
	color: rgb(185, 33, 33);
	font-size: 16px;
	height: 33px;
	position: absolute;
	right: -1.8em;
	top: 1px;
	min-width: 25px;
	border: 0;
	background: 0;
}
.remove
{
	left: -2px;
	font-size: 1.1em;
	top: 4px;
}

.form-cmg3
{
	margin-top: 1em;
}

.div-cmg3
{
	margin-left: -14px;
}

.porcentaje_error
{
	display: inline;
	/*background: red;*/
	position: absolute;
	width: 60px;	
	height: 42px;
	margin-left: 6px;
	/*border-left: 2px solid rgb(204,0,0);
	border-right: 2px solid rgb(204,0,0);*/
	padding-top: 3px;
	margin-top: -4px;
}

/*#list-publi>li:first-child label .porcentaje_error
{
	border-top: 2px solid rgb(204,0,0);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}


#list-publi>li:last-child label .porcentaje_error
{
	border-bottom: 2px solid rgb(204,0,0);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
*/
.error
{
	border: 1px solid #a94442;
}

.repeat
{
	background: #a94442;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: .6em;
	margin-left:1.1em;
	padding-bottom: .5em;
	text-indent: 1em;
	width: 200px;
}

.shown{
	visibility:visible;
}

	

.xls-icon {
	background: url('../img/xls-icon.png') top left no-repeat;
	display: inline-block;
	padding-left: 25px;
}

.option-des-1, .porcentaje_error, .btn-delete
{
	display: inline-block;
	vertical-align: middle;
}

.option-des-1, .option-des
{
	width: 80%;
}

.porcentaje
{
	width: 13%;
}

.btn-delete
{
	width: 5%;
}
#txtDate
{
	width: 170px;
}
@media screen and (min-width:1025px){  
	.option-des-1
	{
		max-width: 340px;
	}

	.porcentaje
	{
		width: 10%;
	}

	.btn-delete
	{
		width: 4%;
	}

	.option-des
	{
		width: 100%;
		max-width: 340px;
	}
	.disabled-file
	{
		max-width: 305px;
	}
	.config, .mes, .results
	{
		margin: 0 6%;
	}

}  