ul{
  list-style-type: none;

}
a{
    text-decoration: none;
}
ul li{
    padding: 0;
}
#inputclient{

    margin-bottom: 10px;
}
selectproduct{
    margin-bottom: -13px;

}
#btn-add-client{

    margin-left: 16px;
    margin-top: -20px;
}
#btn-add-family{
    margin-left: 16px;
    margin-top: -10px;

}
.nueva_solicitud{

    margin-top: 50px;

}
.clients_repeat{
 margin-top: -10px;
    margin-bottom: 15PX;
}
.btn-delete-family
{
    color: rgb(185, 33, 33);
    font-size: 16px;
    height: 33px;
    position: absolute;
    right: -2.2em;
    top: 1px;
    min-width: 25px;
    border: 0;
    background: 0;
}

.btn-delete-client
{
    color: rgb(185, 33, 33);
    font-size: 16px;
    height: 33px;
    position: absolute;
    right: -2.2em;
    top: 1px;
    min-width: 25px;
    border: 0;
    background: 0;

}
#loading
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;

    opacity: 1.4;
}
@media screen and (max-width: 780px){

    .button-new-solicitude{
        text-align: left !important;
    }
    .div-icons-solicituds span{

        font-size: 1em !important;
    }
    .div-icons-solicituds {
        width: 100px;
    }
}
.input-placeholder-error::-webkit-input-placeholder { /* WebKit browsers */
    color:    red !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#loading{

    opacity: 0.5;

}



/** Gastos  */